<div>
    <app-header [page]="'user'" [isloggedin]="isloggedin"></app-header>
    <div *ngIf="isloggedin">
        <div style="font-size: 1.5rem;margin:2rem;">List of users</div>
        <div class="userlist">
         <mat-card *ngFor="let user of userdata">
            <mat-card-header>
                <mat-card-title style="text-align: center;">{{user.first_name|titlecase}}</mat-card-title>
                <mat-card-subtitle style="text-align: center;">{{user.email}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <img src="{{user.avatar}}">
            </mat-card-content>
         </mat-card>
         </div>
         <div class=nav>
              <div class="nav_icon"matTooltip="previous" (click)="prev()"><mat-icon>keyboard_arrow_left</mat-icon></div>
              <div class="nav_icon"matTooltip="next" (click)="next()"><mat-icon>keyboard_arrow_right</mat-icon></div>
         </div>
    </div>
</div>